.perfil-photo {
    margin: auto;
    display: block !important;
    border-radius: 50%;
}

hr {
    width: 50%;
    border: none;
    border-bottom: 1px solid #645252;
}

#disqus_thread {
    max-width: 650px;
    margin: auto;
}