.perfil-photo {
    margin: auto;
    display: block !important;
    border-radius: 50%;
}

hr {
    width: 50%;
    border: none;
    border-bottom: 1px solid #645252;
}

#disqus_thread {
    max-width: 650px;
    margin: auto;
}


/* vivienda */

.autor {
    max-width: 870px;
    margin: 21px 0 35px 0;
    font-size: 17px;
    border-bottom: 3px solid #575756;
    width: 320px;
    text-align: left;
    font-weight: 800;
}

.autor i {
    font-size: 14px;
    font-weight: 500;
}

.gorro {
    margin: 2rem 0 1rem 0;
    font-style: italic;
}

small {
    display: block;
    /* font-family: "Lato", sans-serif; */
    font-size: 13px;
    margin: 4px 0px;
    text-align: center;
    color: #737373;
}

small a {
    color: #737373;
}

#comparativa_prestamos {
    width: 90%;
    margin: 4%;
    max-width: 700px;
    box-sizing: content-box;
    padding-right: 10px;
    /*         height: 320px; */
}

#select_trabajo {
    height: 30px;
    display: block;
    margin: 30px auto;
    width: 290px;
    text-align: center;
}

.bb-tooltip-container,
.bb-legend,
.bb-axis {
    font-family: "Lato", sans-serif;
}

.bb-tooltip td>span,
.bb-tooltip td>svg {
    height: 3px;
}

.bb-line {
    stroke-width: 2px;
}

text.bb-title {
    font-weight: 700;
}

.legend_color {
    display: block;
    margin: 0 auto 21px auto;
    max-width: 360px;
    text-align: left;
    font-size: 14px;
}

.color-1 {
    width: 10px;
    height: 10px;
    background-color: #a4a380;
    display: inline-block;
    margin-left: 7px;
}

.color-2 {
    width: 10px;
    height: 10px;
    background-color: #f48a59;
    display: inline-block;
    margin-left: 7px;
}

.color-3 {
    width: 10px;
    height: 10px;
    background-color: #816674;
    display: inline-block;
    margin-left: 7px;
}

@media only screen and (max-width: 768px) {
    .legend_color span {
        font-size: 11px;
    }
}